@import "tailwindcss";


@font-face {
  font-family: 'Tienne';
  src: url('/fonts/Tienne.woff2') format('woff2'), 
       url('/fonts/Tienne.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Tienne';
  src: url('/fonts/Tienne.woff2') format('woff2'), 
       url('/fonts/Tienne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  font-family: 'Tienne';
  font-weight: bold;
  font-style: normal;
}



body {
  font-family: 'Tienne', serif;
}
