@import "tailwindcss";
{/*@font-face {
  font-family: 'Tienne';
  src: url('/fonts/Tienne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
*/}/*
@font-face {
  font-family: 'Tienne';
  src: url('/fonts/Tienne-normal.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;

}
*{
  font-family: 'Tienne', serif;

}
*/